<div class="container grid grid-cols-12">
  <div class="col-start-1 col-end-4 px-3 mr-5">
    <h5 class="text-amber-500 text-xl mb-2">Sort</h5>
    <select class="mb-5 py-2 px-3 outline-none appearance-none border rounded text-center text-lg" (change)="sort($event)">
      <option *ngFor="let opt of sortSelectOptions" [value]="opt.value">{{opt.name}}</option>
    </select>
    <h5 class="text-amber-500 text-xl mb-2">Brands</h5>
    <ul class="mb-5">
      <li *ngFor="let brand of productsBrands" class="border p-3 hover:bg-indigo-400 hover:text-white cursor-pointer"
          (click)="setBrandId(brand.id)" [ngClass]="{'bg-indigo-400 text-white': brandId === brand.id}">
        {{brand.name}}
      </li>
    </ul>
    <h5 class="text-amber-500 text-xl mb-2">Types</h5>
    <ul class="mb-5 ">
      <li *ngFor="let type of productsTypes" class="border p-3 hover:bg-indigo-400 hover:text-white cursor-pointer"
          (click)="setTypeId(type.id)" [ngClass]="{'bg-indigo-400 text-white': typeId === type.id}">
        {{type.name}}
      </li>
    </ul>
  </div>
  <div class="col-start-4 col-end-13">
    <div class="flex flex-row justify-between mb-5">
      <h5>Showing 10 of 16 Results</h5>
      <div class="flex flex-row items-center gap-3">
        <input type="text">
        <button class="">Search</button>
        <button class="">Reset</button>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-3">
      <app-product-item *ngFor="let product of products" [product]="product"></app-product-item>
    </div>
  </div>
</div>

<!-- auto-rows-[200px]-->
