<nav class="px-5 flex flex-row justify-between items-center shadow nav fixed top-0 w-full">
  <a href="#"><img src="/assets/site-logo.png" alt="" class="nav_logo"></a>
  <ul class="flex flex-row items-center gap-3 font-bold">
    <li><a href="#" class="">Home</a></li>
    <li><a href="#" class="">Shop</a></li>
    <li><a href="#" class="">Contact</a></li>
  </ul>

  <ul class="flex flex-row items-center gap-3 font-bold">
    <li class="mt-1 mr-2">
      <a href="#" class="relative p-2">
        <fa-icon [icon]="['fas', 'shopping-cart']" size="2x"></fa-icon>
        <div class="absolute -top-4 -right-0.5 bg-indigo-400 rounded-full  w-5 h-5 flex justify-center items-center text-[12px]">5</div>
      </a>
    </li>
    <li><a href="#" class="pt-2 pb-3 px-4 border rounded hover:shadow">Login</a></li>
    <li><a href="#" class="pt-2 pb-3 px-4 border rounded hover:shadow">Sign Up</a></li>
  </ul>
</nav>
